@using ProductStoreWebApp.Models;

 <form method="post" asp-controller="Auth" asp-action="Register">
    <label>Name:</label>
    <input type="text" name="Name" />
    <br />
    <label>Password:</label>
    <input type="text" name="Password" />
    <br />
    <button type="submit">Register</button>
</form>