@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Product Store Web App</p>
    <img src="../../wwwroot/images/Transflower.jpg"><caption>This is my Product Store Web App from scratch....</caption>
</div>
